.displayBox {

    border: 2px solid rgb(103, 103, 248);
    height: 30rem;
    width: 98%;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 2rem;
    padding: 1em
}

.displayBox p {
    text-align: justify;
}