<div class="inBox">
    <div>
        <h1>First Component</h1>
        <p>Here the data sharing is done with the help of a Services. Here, we set the value of a variable in the
            Service using "setValue" function. On click the "Click Here to Save Data" button setValue function called to
            store a new value in a variable inside the Service </p>
    </div>
    <div>
        <input type="text" #Input (keyup)="inputFun(Input.value)" placeholder="Write Something here">
    </div>
    <!-- <div>
        <button (click)="inputFun(Input.value)">Click here to save data</button>
    </div> -->
</div>