.container {
    display: flex;
    justify-content: space-between;
}

.container app-input,
app-display,
app-input2,
app-display2,
app-input3,
app-display3 {
    width: 50%;
    margin: 1em;
    padding: 1em
}

/* Component style CSS*/
.displayBox {

    border: 2px solid rgb(103, 103, 248);
    height: 30rem;
    width: 98%;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 2rem;
    padding: 1em;
}

.displayBox p {
    text-align: justify;
}

.inBox {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 30rem;
    border: 2px solid rgb(103, 103, 248);
    text-align: center;
    background-color: whitesmoke;
    border-radius: 2rem;
    padding: 1em;
}

.inBox p {
    text-align: justify;
}

.displayouter {
    width: 50%;
    text-align: center;
}